VITE_BACKEND_BASE_URL='http://localhost:8000/api/'

#Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=classroom_app
VITE_CLOUDINARY_UPLOAD_URL=http://api.cloudinary.com/v1_1/{##USE_VITE_CLOUDINARY_CLOUD_NAME_HERE##}}/image/upload