VITE_APP_TITLE_SUFFIX=University of Oakfield
VITE_BACKEND_BASE_URL='http://localhost:8000/api/'

#Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_CLOUDINARY_UPLOAD_URL=http://api.cloudinary.com/v1_1/{##USE_VITE_CLOUDINARY_CLOUD_NAME_HERE##}}/image/upload

#Note, no need for a [NODE_ENV=] flag here as VITE auto-handles this, injecting dev/prod depending on the npm-run-x cmd called
#As opposed to serverside which I handle during deployment
#temp comment to force vercel to rebuild in prod